# Build output
bin/
obj/
artifacts/
[Dd]ebug/
[Rr]elease/
*.user
*.suo

# NuGet
*.nupkg
packages/
.nuget/

# Tooling
.vs/
.vscode/
.idea/
*.sln.docstates
.ionide/
TestResults/
*.trx
*.coverage
*.received.*

# OS
.DS_Store
Thumbs.db
